<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}Header y barra de busqueda{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <script src="https://kit.fontawesome.com/f2f934aa4b.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        
        <a href="#" class="logo">
            <img src="{{url_for('static', filename='img/rin.png')}}" alt="img_logo">
            <h2>Paises</h2>
        </a>

            <nav class="texto_header">
                <a class="inicio" href="{{url_for('index')}}">inicio</a>
                <a class="mas" href="{{ url_for('mas')}}">Más</a>
            </nav>
            
            <div class="barra_busqueda">    
                <input type="text" placeholder="Buscar...">
                <button class="btn_busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            {% block body %} {% endblock %}
            
    </header>

    {% block contenido %} 




    <div class="contenido_index">        
        <h1>Paises</h1>
        <a href="{{url_for('administrar')}}" class="btn_registro" > Registrar un nuevo pais  <i class="fa-solid fa-plus"></i></a>
        <div class="tabla_libros">

            <table>
                <thead>
                    <tr> 
                        <th>Nombre</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for pais in pais %}   <!-- For para imprimir la cosnulta de base de datos -->
                    <tr>
                        <td>{{pais[1]}}</td>  
                        <td><a href="{{url_for('pais_ver', id_pais=pais[0])}}"><i class="fa-solid fa-eye"></i></a></td>
                        <td><a href="{{url_for('pais_editar', id_pais=pais[0])}}"><i class="fa-solid fa-pen-to-square" class="btn_eliminar_pais"></i></a></td>
                        <td><a href="#modal_eliminar_pais_{{pais[0]}}"><i class="fa-solid fa-trash"></i></a></td>
                    </tr>
    
                </tbody>
                {% endfor %}
            </table>  <!-- Fin del div tabla_libros -->
            
        </div>
        
    </div>

    {% for pais in pais %} <!-- PARA ELIMINAR OCUPAS UN FOR W UN PINCHE FOR NMMS AQUI METE LA MODAL CAON PQ SI NO VALE VERGA JAJAJJAJA-->
        <div id="modal_eliminar_pais_{{pais[0]}}" class="modal_eliminar_pais">
            <h2>Eliminar Pais</h2>
            <p>¿Estas seguro que deseas elimianr este pais?</p>
            <h2>{{pais[1]}} </h2>

            <div class="btns_eliminar_pais">
                <a href="{{url_for('eliminar_pais', id_pais=pais[0])}}" class="btn_aceptar_eliminar_pais">Aceptar</a>
                <a href="#" class="btn_cancelar_eliminar_pais">Cancelar</a>

            </div>

        </div>
    {% endfor %}
    {% endblock %}
>
</body>
</html>